<h1>Kontakt</h1>
<h2>
    <span class="fa fa-industry"></span> Firma
</h2>
<div class="vcard" id="vcard">
    <p>
        <span class="fn">Rafał Zielonka</span><br />
        <a class="org url" href="http://rocktech.pl/">Rocktech</a><br />
        <span>NIP: 5222819140</span><br />
        <span>REGON: 141935543</span>
    </p>
    <h2>
        <span class="fa fa-credit-card"></span> Konto bankowe
    </h2>
    <p>
        <span>ING Bank Śląski S.A.<br /> 66 1050 1924 1000 0090 6859 2279</span>
    </p>
    <h2>
        <span class="fa fa-location-arrow"></span> Dane adresowe
    </h2>
    <p class="adr">
        ul. <span class="street-address">Wojciechowskiego 42/6</span><br>
        <span class="postal-code">02-495</span> <span class="locality">Warszawa</span><br />
        <span class="region">mazowieckie</span><br />
        <span class="country-name">Polska</span>
    </p>
    <h2>
        <span class="fa fa-phone"></span> Dane kontaktowe
    </h2>
    <p>

        <span class="tel"><span class="type">mobile</span>: <span class="value">+48 669 891 777</span></span><br />
        <span class="email">email: <a href="mailto:biuro@rocktech.pl" class="value">biuro@rocktech.pl</a></span><br />
        <span class="email">wsparcie: <a href="mailto:support@rocktech.pl" class="value">support@rocktech.pl</a></span>
    </p>
</div>