<h1>Zrealizowane projekty</h1>
<h2>
    <span class="fa fa-sitemap"></span> Strony WWW
</h2>

<h3>clickquicknow.pl</h3>
<p>
    Przykładowe wdrożenie TYPO3 dla naszego partnera Alfa-Projekt Sp. z o.o. <a href="http://clickquicknow.pl/">Clickquicknow.pl</a> to strona wizytówka firmy specjalizującej się w performance marketingu.
</p>

<h3>fotovideo.waw.pl</h3>
<p>
    Witryna <a href="http://fotovideo.rocktech.pl/">fotografa i kamerzysty ślubnego</a> w przejrzystej minimalistycznej formie.
</p>

<h3>dodajto.com</h3>
<p>
    <del><a href="http://dodajto.com/">Dodajto.com</a></del> to proste narzędzie które pozwoli ci dodać na swojej stronie, blogu itp linki do wszystkich ważnych polskich stron z zakładkami. 
    Wiele zakładek w jednym guziku pozwala zaoszczędzić ci czas i zachować jednolity wygląd strony. 
    Na dodatek narzędzie to jak i wtyczka do systemu WordPress&trade; są całkowicie <strong>darmowe</strong>.
</p>

<h3>unipoker.pl</h3>
<p>
    Pierwsza w Polsce strona szkoleniowa poruszająca tematykę pokera Texas Holde'm oraz Omaha. <del><a href="http://www.unipoker.pl/">UniPoker.pl</a></del> to filmy instruktażowe kręcone przez wybitnych polskich graczy. Forum dyskusyjne, na którym wypowiadają się eksperci, blogi instruktorów zawierające ciekawe analizy. Społeczność skupiająca inteligentnych pokerzystów, którzy chcą się rozwijać.
</p>

<h2>
    <span class="fa fa-cc"></span> Projekty niekomercyjne
</h2>

<h3>php-sms-classes</h3>
<p>
    Zestaw klas i <a href="https://github.com/Bombaharris/php-sms-classes" title="Zobacz php-sms-classes na github.com">interfejs do obsługi komunikacji z bramkami SMS</a> MultiInfo, Mobiltek, MobiltekMT napisany w języku PHP.
</p>

<h3>js-gui-classes</h3>
<p>
    Napisane w opraciu o framework Prototype JS <a href="https://github.com/Bombaharris/js-gui-classes" title="Zobacz js-gui-classes na github.com">narzędzia dla deweloperów frontendu</a>.
</p>