<h1>Usługi informatyczne</h1>
<h2 id="audyt">
    <span class="fa fa-thumbs-up"></span> Audyt
</h2>
<p>
    Chcesz się dowiedzieć, czy twoje dane są bezpieczne? Mieć pewność, że oprogramowanie które wybrałeś nie narazi Ciebie na straty? 
</p>
<h3>
    <span class="fa fa-code"></span> Audyt bezpieczeństwa WWW
</h3>
<p>
    Przeprowadzamy testy penetracyjne Twojej aplikacji lub strony internetowej w sieci WWW. Dostarczymy do Twoich rąk raport oraz przeprowadzimy czynności niezbędne do zwiększenia poziomu bezpieczeństwa.
</p>
<h3>
    <span class="fa fa-code-fork"></span>Audyt kodu źródłowego
</h3>
<p>
    Wykonujemy przegląd kodu aplikacji pod kątem bezpieczeństwa, zgodności ze standardami, złożoności i jakości oraz pokrycia testami jednostkowymi. Otrzymasz wyczerpujący i rzeczowy raport.
</p>
<h2 id="administracja">
    <span class="fa fa-server"></span> Administracja serwerami
</h2>
<p>
    Potrzebujesz fachowca do opieki nad serwerem, ale nie stać cię na zatrudnienie specjalisty na cały etat? Skorzystaj z naszych usług. 
    Oferujemy kompleksową opiekę na serwerami opartymi o system Linux. Zajmiemy się administracją, kolokacją i serwisem twoich serwerów. 
    Pomożemy Ci zaprojektować i zbudować infrastrukturę teleinformatyczną w twojej firmie. 
    Dostosujemy się do twoich możliwości finansowych i zaproponujemy Ci rozwiązanie adekwatne do twoich potrzeb.<br />
    Z nami uruchomisz swój własny, <strong>bezpieczny i niezawodny serwer</strong>.
</p>
<h2 id="outsourcing">
    <span class="fa fa-users"></span> Outsourcing IT
</h2>
<p>
    Chcesz kupić sprzęt komputerowy, ale nie wiesz co wybrać? Potrzebujesz zatrudnić pracownika IT, 
    ale nie wiesz jak sprawdzić jego kompetencje? Masz problem z oprogramowaniem? 
    Te i wiele innych problemów pomoże Ci rozwiązać nasz dział wsparcia. Dzięki naszemu doświadczeniu, problemy z infrastrukturą informatyczną przestaną być twoim zmartwieniem.
</p>